@model CoffeeAppWebRole.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

            <div class="cf crs">
                <div class="row">
                    <div class="large-12 columns" style="margin:0;">
    <h1 style="margin:0;">@ViewBag.Title</h1>
                    </div>
                </div>
            </div>

<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Log in" class="button" style="width:150px;"/>
    </fieldset>
    <p>
        <a href="/Account/Register" style="color: #2795B6;">Register</a> if you don't have an account.
    </p>
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $("#logoffClicks").hide();
    </script>
}
