<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/thirdparty/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div id="body">
            <div class="cf">
                <div class="row" style="background: rgb(128,80,32) url('../Images/coffee/top_bar_bg.jpg') no-repeat;height: 90px">
                    <div class="large-4 columns" style="height:1px;"></div>
                    <div class="large-4 columns " 
                        style="height:180px; 
background: url('../Images/coffee/site_logo.png') no-repeat center;
background-size: 180px 180px;" id="siteLogo"></div>
                    <div class="large-4 columns">

                                         
                            <ul id="menu">
                                <li id="login">
                                    
                                        @Html.Partial("_LoginPartial")
                                    
                                </li>
                                @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                            </ul>
                  
                    </div>
                </div>
            </div>
            @RenderSection("profile", required: false)
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix" style="background-color:">
                @RenderBody()
            </section>

            <div class="cf">
                <div class="row" style="background: rgb(128,80,32) url('../Images/coffee/top_bar_bg.jpg') no-repeat;height: 50px">
                    <div class="large-12 columns">
                        <p style="color:#FFF;text-align:center">&copy; @DateTime.Now.Year - TOSAVOUR</p>
                    </div>
                </div>
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jquerysmoothdivscroll")
        @RenderSection("scripts", required: false)

        @RenderSection("featured2", required: false)

        <script type="text/javascript">
            $("#siteLogo").click(function () {
                window.location.href = "/Home/CourseList";
            });

            function disableBackButton() {
                window.history.forward()
            }
            disableBackButton();
            window.onload = disableBackButton();
            window.onpageshow = function (evt) { if (evt.persisted) disableBackButton() }
            window.onunload = function () { void (0) };
        </script>
    </body>
</html>
