@{
    ViewBag.Title = "Course Media Resource";
}

@section featured {

    <section class="featured">
        <div class="content-wrapper">


            <div class="cf" id ="courseMediaResource">
                <div class="row">
                    <div class="large-12 columns">
                        <h1>@ViewBag.Title</h1>
                    </div>
                </div>

                @foreach (var resource in ViewBag.MediaResourcesVideo)
                {    
                <div class="row">
                    <div class="large-12 columns">
                        <div class="panel">
                            <p>
                                <iframe id="videoFrame" width="420" height="315" src="@resource.Path" frameborder="0" allowfullscreen></iframe>
                            </p>
                            <p>@resource.Description</p>
                        </div>
                    </div>
                </div>
                 }

                @foreach (var resource in ViewBag.MediaResourcesPhoto)
                {    
                <div class="row">
                    <div class="large-12 columns">
                        <div class="panel">
                            <p><img src="@resource.Path" /></p>
                            <p>@resource.Description</p>
                        </div>
                    </div>
                </div>
                 }
            </div>

        </div>
    </section>
}

@section featured2 {
    <script type="text/javascript">
        $(document).ready(function () {
            var winWidth = $(window).width();
            if (winWidth >= 850) {
                winWidth = 850;
            }
            var estWidth = Math.round(0.8 * winWidth);
            var estHeight = Math.round(estWidth / 1.333);
            $("#videoFrame").attr("width", estWidth).attr("height", estHeight);
        });
    </script>
}
