@{
    ViewBag.Title = "Course Info";
    string myMemberId = Request.Params["userid"];
}

@section featured {

    <section class="featured">
        <div class="content-wrapper">
            @*<hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>*@


            <div class="cf crs" id ="courseInfo">
                <div class="row">
                    <div class="large-12 columns @ViewBag.EnrollmentInfo">
                        <div class="panel">
                            <div class="row">
                                <div class="large-2 columns">
                                    <div class="statusgrid">&nbsp;</div>
                                </div>
                                <div class="large-10 columns">
                                    <h3>@ViewBag.CourseID - @ViewBag.Name</h3>
                                    <p><b>Date:</b> @ViewBag.DateStart - @ViewBag.DateEnd</p>
                                    <p><b>Time:</b> @ViewBag.CourseDateTime</p>
                                    <p><b>Instructor:</b> @ViewBag.Instructor</p>
                                    <p><b>Description:</b></p>
                                    <p>@ViewBag.Description</p>
                                    @if ("Past".Equals(ViewBag.EnrollmentInfo)){
                                    <p>@Html.ActionLink("Course Media", "CourseMediaResource", "Home", new { courseid = @ViewBag.CourseID }, new { @class = "button" })</p>
                                    <p>@Html.ActionLink("Your Classmates", "CourseClassmateList", "Home", new { userid=myMemberId, courseid = @ViewBag.CourseID }, new { @class = "button" })</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
}
