@{
    ViewBag.Title = "Classmates List";
    string myMemberId = Request.Params["userid"];
}


@section featured {

    <section class="featured">
        <div class="content-wrapper">
            <div class="cf crs">
                <div class="row">
                    <div class="large-12 columns">
                        <h1>@ViewBag.Title</h1>
                    </div>
                </div>
                <div class="row">
            @{
                int i = 0;
                foreach (var member in ViewBag.Members)
                {        
                    <div class="large-6 columns classmate" data-context="@member["RowKey"]">
                        <div class="panel">
                            <div class="row">
                                <div class="large-4 columns">
                                    @if (member["DataAccessControlMap"]["ProfilePic"] == 1) {
                                    <img src="Image/@member["RowKey"]" />
                                    }
                                    
                                </div>
                                <div class="large-8 columns">
                                    <h3>@member["NameEN"]</h3>
                                    @foreach (var x in member["DataAccessControlMap"])
                                    {
                                        if (x.Value == 1 && !"ProfilePic".Equals(x.Key) && !"".Equals(member[x.Key]))
                                        {
                                            <p><b>@ViewBag.MemberInfoLabel[x.Key]</b> @member[x.Key]</p>
                                        }
                                    }

                                    <!--div class="rButton"><input type="button" id="friendRequest" value="Friend Request"/></!--div//-->
                                    
                                    @if (ViewBag.FriendsRequestedPendingHashTable.ContainsKey(member["RowKey"]))
                                    {
                                    <div class="rRequestSent">Friend Request has been submitted.</div>

                                    }
                                    else if (ViewBag.FriendsAcceptedHashTable.ContainsKey(member["RowKey"]))
                                    {
                                    <div class="rFriendAccepted">Friend accepted.</div>
                                    }
                                    else
                                    {
                                    <div class="rButton">@Html.ActionLink("Friend Request", "CourseClassmateList", "Home", new { userid = myMemberId, courseid = @ViewBag.CourseID, requestmemberid = @member["RowKey"] }, new { @class = "button" })</div>
                                    
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                                    if (i % 2 == 1)
                                    { 
               @:</div>
               @:<div class="row">
                    }
                    i++;
                }
            }
                </div>
            

            </div>

        </div>
    </section>
}


@section featured2 {
    <script type="text/javascript">
        //$(function () {
            $("input#friendRequest").click(function () {
                var $c = $(this).closest(".classmate");
                var requestMemberId = $c.attr("data-context");
                $c.find(".rButton").hide();
                $c.find(".rRequestSent").show();
            });
        //});
    </script>
}