@{
    ViewBag.Title = "Course List";
    string myMemberId = Request.Params["userid"];
    string requestedPendingCount = ViewBag.RequestedPendingCount;
}

@section profile {

    <section class="profile">
        <div class="content-wrapper">
            <div class="cf">
                <div class="row">
                    <div class="large-12 columns" style="padding-left: 5%;">
                        @if (ViewBag.Feedback != null){
                        <p>@ViewBag.Feedback</p>   
                        }
                        <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-5 columns" style="padding-left: 5%;">

                        @if (ViewBag.Myself["DataAccessControlMap"]["ProfilePic"] == 1) {
                            <div class="avatarframe">
                                <img src="Image?t=@DateTime.UtcNow" />
                            </div>
                            <div style="margin: -15px 0 0 -25px">
                                @Html.ActionLink(requestedPendingCount, "FriendMadeList", "Home", new { }, new { @class = " accepted" })
                            </div>
                        }
                    </div>

                    <div class="large-7 columns">

                        @foreach (var x in @ViewBag.Myself["DataAccessControlMap"])
                        {
                            if (x.Value == 1 && !"ProfilePic".Equals(x.Key) && !"".Equals(ViewBag.Myself[x.Key]))
                            {
                                <p><b>@ViewBag.MemberInfoLabel[x.Key]</b> @ViewBag.Myself[x.Key]</p>
                            }
                        }
                        @Html.ActionLink("Edit Profile", "Profile", "Home", new {  }, new { @class = "button" })
                    </div>

                </div>
            </div>
        </div>
    </section>
}

@section featured {

    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>


            <div class="cf crs">
                <div class="row">
            @{
                int i = 0;
                foreach (var course in ViewBag.Courses)
                {        
                    <div class="large-6 columns @(ViewBag.EnrollmentInfos.ContainsKey(course.CourseID) ? ViewBag.EnrollmentInfos[course.CourseID] : "")">
                        <div class="panel">
                            <div class="row">
                                <div class="large-4 columns">
                                    <div class="statusgrid">&nbsp;</div>
                                </div>
                                <div class="large-8 columns">
                                    
                                    <h3>@course.Name</h3>
                                    <p>@course.Description</p>
                                    <p>@Html.ActionLink("Course Info", "CourseInfo", "Home", new { userid = myMemberId , coursecode = @course.CourseID }, new { @class = "button" })</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    if (i%2 == 1){ 
               @:</div>
               @:<div class="row">
                    }
                    i++;
                }
            }
                </div>
            
            </div>

        </div>
    </section>
}
