@{
    ViewBag.Title = "Course List";
}

@section profile {
    <section class="profile">
        <div class="content-wrapper">
            <div class="cf">
                <div class="row">
                    <div class="large-5 columns">

                        <p>Member ID: 123454321</p>
                        <p>Name: User 1</p>
                        <p>Birthday: 01/01</p>
                        <p>E-Mail: hotmail@hotmailc.com</p>
                        <p>@Html.ActionLink("Edit Profile", "Profile", "Home", new { }, new { @class = "button" })</p>


                    </div>
                    <div class="large-3 large-offset-3 columns">

                        <img src="../Images/profile-photo.jpg" />

                    </div>
                    <div class="large-1 columns">

                        <p>@Html.ActionLink("+5", "FriendMadeList", "Home", new { }, new { @class = "small button" })</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section featured {

    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <div>
                Your Profile Page:
                @Html.ActionLink("Your Profile", "Profile", "Home")

                Course Info Page:
                @Html.ActionLink("Course Info", "CourseInfo", "Home")
            </div>



            <div class="cf crs">
                <div class="row">
                    <div class="large-6 columns">
                        <div class="panel">
                            <div class="row">
                                <div class="large-8 columns">
                                    <h3>COFC13 - Coffee Tasting Level 1</h3>
                                    <p>Mobile First. Now you can build for small devices first. Then, as devices get larger and larger, layer in more complexity. Semantic</p>
                                    <p>@Html.ActionLink("Course Info", "CourseInfo", "Home", new { coursecode = "COFC13" }, new { @class = "button" })</p>
                                </div>
                                <div class="large-4 columns">
                                    <img src="../Images/coffee_wall.jpg" />
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="large-6 columns">
                        <div class="panel">
                            <h3>COFC14 - Coffee Tasting Level 2</h3>
                            <p>Mobile First. Now you can build for small devices first. Then, as devices get larger and larger, layer in more complexity. Semantic</p>
                            <p class="linkto">@Html.ActionLink("Course Info", "CourseInfo", "Home", new { coursecode = "COFC13" }, new { @class = "button" })</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <div class="panel">
                            <h3>COFC15 - Coffee Whatever</h3>
                            <p>Now you can build for small devices first. Then, as devices get larger and larger, layer in more complexity. Semantic</p>
                        </div>
                    </div>
                    <div class="large-6 columns">
                        <div class="panel">
                            <h3>COFC13 - Coffee Whatever Level 2</h3>
                            <p>Mobile First. Now you can build for small devices first. Then, as devices get larger and larger, layer in more complexity. Semantic</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
}


@section featured2 {
}